<<<<<<< HEAD
.city {
  text-align: center;
  font-size: 75
}
.temp {
  text-align: center;
}
.humidty {
  text-align: center;
}
.weather {
  text-align: center;
}
.wind {
  text-align: center;
}
.search {
  text-align: center;
=======
.card {
  display:flex;
  justify-content: center;
  algin-items: center;
>>>>>>> c123f1ea3507da0fcf17b800b63eab564faef790
}
