* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainBg: rgb(0, 38, 62);
  --containerBg: rgb(255, 255, 255);
  --iconBg: black;
  --submitBtnBg: rgb(0, 0, 0);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 50px;
  width: 400px;
  border-radius: 50px;
  padding: 0 10px;
}
.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
.search-box > button {
  width: 25px;
  height: auto;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
\
}

.container {
  height: 400px;
  width: 300px;
  border-radius: 12px;
  flex-direction: column;
}

.temperature {
  height: 250px;
  width: 90%;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.container .temperature > img {
  height: 170px;
  width: 170px;
  padding: 10px;
  border-radius: 50%;

}

.container .temperature .temp {
  font-size: 50px;
}

.weather-info {
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

#weather-type {
  width: 90%;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.5),
    -2px -2px 2px rgba(0, 0, 0, 0.1);
}

table {
  width: fit-content;
}

table tr td,
table tr th {
  text-align: left;
  padding: 0 10px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}